@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gradient-to-br from-gray-900 via-black to-gray-800 text-white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.main{
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba(196, 199, 234, 0.37);
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border-radius: 20px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 24px;
}

.loader {
  border: 8px solid #222a43; /* Light gray */
  border-top: 8px solid #564bf6bf; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  cursor: url('../public/cursornew.png'), auto; 
  
}